# Usage: pip install -r requirements.txt
Flask
Flask-RESTful
python-decouple
flask-cors
python-dotenv
# Base ----------------------------------------
matplotlib
numpy
torch
torchvision
onnxruntime
# Plotting ------------------------------------
pandas
seaborn
opencv-python